<h1>Users Info</h1>
<%= form_with model: @user, url:user_path(@user.id), method: :patch do |f| %>

<h4>Name</h4>
<%= f.text_field :name %>
<h4>Image</h4>
<%= f.file_field :profile_image %>
<h4>Introduction</h4>
<%= f.text_area :introduction %>

<%= f.submit 'Update User' %>

<% end %>

