<% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Users Info</h1>
      <%= form_with model: @user, method: :patch do |f| %>

      <h4>Name</h4>
      <%= f.text_field :name %>
      <h4>Image</h4>
      <%= f.file_field :profile_image %>
      <h4>Introduction</h4>
      <%= f.text_area :introduction %>

      <%= f.submit 'Update User', class: 'btn btn-secondary' %>

      <% end %>
      
    </div>
  </div>
</div>


