<div>
  <%= flash[:notice] %>
</div>

<%= render 'userinfo' , user: @user %>




<h1>Books</h1>

<tr>
  <th></th>
  <th>Title</th>
  <th>Opinion</th>
</tr>


<% @books.each do |book| %>


<%= image_tag book.user.get_profile_image(100,100) %>

<P><%= link_to book_path(book.id) do %>
    <%= book.title %>
  <% end %>
</p>

<p><%= book.body %></p>

<% end %>

