<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
       <%= render 'userinfo' , user: @user %>
    </div>
  <div class="col-md-8 offset-md-1">
    <h2>Book deteil</h2>
    <table class="table">
      <tbody>
         <tr>
            <% if @user.get_profile_image(100,100) %>
            <th> <%= image_tag @user.get_profile_image(100,100) %></th>
            <% else %>
            <th><%= image_tag '13116_Tower_of_the_Sun_Expo_Commemoration_Parl_Suita_Osaka_pref_Japan01s3.jpg', size: "100x100" %></th>
            <% end %>
            <%= link_to user_path(@user.id) do %>
            <%= @user.name %>
   
             <% end %>
            <th>
            <%= link_to book_path(@book.id) do %>
            <%= @book.title %>
            <% end %>
            </th>
            <th><%= @book.body %></th>

              <th>
                <%= link_to edit_book_path(@book.id), class: 'btn btn-success' do %>
                Edit
                <% end %>
              </th>
               <th>
                <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-sm btn-danger' do %>
                Destroy
                <% end %>
              </th>
           </tr>
         </tbody>
      </table>
    </div>
  </div>
</div>




